<?xml version="1.0" encoding="utf-8" ?> 
<log4net>
	<!--
	<appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
		<mapping>
			<level value="DEBUG" />
			<foreColor value="Green, HighIntensity" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="Cyan, HighIntensity" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow, HighIntensity" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red, HighIntensity" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-4timestamp [%thread] %-5level %logger{1}: %message%newline" />
		</layout>
	</appender>
	-->
	
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
	
	<appender name="FileAppender" type="log4net.Appender.FileAppender">
		<file value="C:\tmp\log.txt" />
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
	
	<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
		<remoteAddress value="127.0.0.1" />
		<remotePort value="9998" />
		<layout type="log4net.Layout.XmlLayout" />
	</appender>

	<root>
		<level value="Debug" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="UdpAppender" />
	</root>
	
</log4net>
